<div style="background-color:#f0f0f0;color:#0a2c5c;font-family:'Lato',Helvetica,Arial,sans-serif;width:100%!important;height:100%;margin:0;padding:0" bgcolor="#f0f0f0">
    <table class="" style="width:100%">
        <tbody><tr>
            <td class="" bgcolor="#ffffff" style="display:block!important;max-width:600px!important;clear:both!important;margin:0 auto;padding:15px">

                <h2 style="font-family:'Lato',Helvetica,Arial,sans-serif;line-height:1.1;margin-bottom:15px;font-size:32px;font-weight:300;text-transform:uppercase">
                    Check Out Your Results!                </h2>
                <p style="margin-bottom:10px;font-weight:normal;font-size:17px;line-height:1.6">
                    These results are based on the energy sources in your area, your home energy use, and your transportation habits and waste production in your house. How does your carbon footprint compare with the local average?                </p>

                <br>
                <table class="" width="100%" style="background-color:#0a2c5c;width:100%" bgcolor="#0a2c5c">
                    <tbody><tr>
                        <td>

                            <table align="left" width="100%" class="" style="text-align:center">
                                <tbody><tr>
                                                                            <td width="50%">
                                            <h5 style="color:#ffffff;margin-top:20px;font-family:'Oswald','Lato',Arial,sans-serif;line-height:1.1;margin-bottom:15px;font-size:17px;letter-spacing:0.05em;text-transform:uppercase">
                                                Your Annual<br>Carbon Footprint                                            </h5>
                                        </td>
                                        <td width="50%">
                                            <h5 style="color:#ffffff;margin-top:20px;font-family:'Oswald','Lato',Arial,sans-serif;line-height:1.1;margin-bottom:15px;font-size:17px;letter-spacing:0.05em;text-transform:uppercase">
                                                Local<br>Average                                            </h5>
                                        </td>
                                                                    </tr>
                            </tbody></table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table align="left" width="100%" class="" style="text-align:center">
                                <tbody><tr>
                                                                            <td width="50%">
                                            <p class="" style="color:#ffffff;margin-bottom:10px;font-weight:normal;font-size:17px;line-height:1.6">
                                                <span class="" style="font-family:'Oswald','Lato',Arial,sans-serif;font-size:36px;letter-spacing:0.05em">
                                                    {{data[0]}}                                                </span>
                                                <br>
                                                tonnes. of CO<sub>2</sub>                                            </p>

                                        </td>
                                        <td width="50%">
                                            <p class="" style="color:#ffffff;margin-bottom:10px;font-weight:normal;font-size:17px;line-height:1.6">
                                                <span class="" style="font-family:'Oswald','Lato',Arial,sans-serif;font-size:36px;letter-spacing:0.05em">
                                                    {{data[1]}}                                                </span>
                                                <br>
                                                tonnes. of CO<sub>2</sub>                                            </p>
                                        </td>
                                                                    </tr>
                            </tbody></table>
                            <span class="" style="display:block;clear:both"></span>

                        </td>
                    </tr>
                </tbody></table>

                <br>
                <br>

                <h3 style="font-family:'Lato',Helvetica,Arial,sans-serif;line-height:1.1;margin-bottom:15px;font-size:27px;font-weight:300;text-transform:uppercase">What Else Affects Your Footprint?</h3>
                <p style="margin-bottom:10px;font-weight:normal;font-size:17px;line-height:1.6">
                    What you eat, how much water you use, the products you buy, how you dispose of waste, and how you take care of your yard also affect your carbon footprint.                                            <!--<a href="" style="color:#d5590b" target="_blank">Learn more.</a>-->
                                    </p>

                <br>
                <h3 style="font-family:'Lato',Helvetica,Arial,sans-serif;line-height:1.1;margin-bottom:15px;font-size:27px;font-weight:300;text-transform:uppercase">Why Should I Care About Carbon Emissions?</h3>
                <p style="margin-bottom:10px;font-weight:normal;font-size:17px;line-height:1.6">
                    Scientists agree that carbon emissions make a significant contribution to global warming and the effects are being felt in the United States and around the world. Solving the climate change challenge requires action on all fronts — from businesses, governments, and individuals.  <!--<a href="http://cotap.org/reduce-carbon-footprint/" style="color:#d5590b" target="_blank">Learn more.</a>-->
                                    </p>

                <br>
                
                <p class="" style="margin-bottom:15px;text-align:center;font-weight:normal;font-size:12px;line-height:1.6;background-color:#d6c2b6;padding:15px" align="center">
                                            <a href="http://cotap.org/reduce-carbon-footprint/" style="color:#d5590b;font-size:12px;font-weight:bold" target="_blank" >
                            Find out how to reduce your carbon footprint and be part of the solution.                        </a>
                                    </p>
                                <br>
			</td>
        </tr>
    </tbody></table>
</div>